.container {
    width: 80%;
    margin: 0 auto;
    background-color: rgb(55, 165, 165)
  }
  
  .logo {
    text-align: center;
    margin-top: 20px;
  }
  
  .menu {
    display: flex;
    justify-content: space-around;
    margin: 40px 0;
  }
  
  .salada, .acrescimo {
    width: 40%;
    border: 2px solid black;
    padding: 20px;
  }
  
  h1, h2 {
    text-align: center;
  }
  
  ul {
    list-style-type: none;
  }
  
  li {
    margin: 10px 0;
  }
  
  .imagens {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  img {
    width: 300px;
    height: 200px;
    border-radius: 50%;
  }

  